.custom-header{
    text-align: center;
    padding: 20px;
}

.custom-header ion-avatar {
    margin: auto;
    margin-bottom: 15px;
    margin-top: 20px;
}
.sidemenu{
    img{
        width: 72px;
        /* float: left; */
        /* margin-right: 10px; */
        border-radius: 20%;
        display: block;
        margin: auto;
    }
    h5 {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
    }
    h6{
        font-size: 11px;
        color: #464646;
        margin: 0;
    }
}

.custom-content ion-label {
    font-size: 14px !important;
  }
.custom-content ion-icon {
    font-size: 22px;
  }